body {
    background-image: url('https://source.unsplash.com/1600x900/?Landscape');
}
ion-icon {
    color:whitesmoke;
    --ionicon-stroke-width: 80px;
  }

.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.orange{
  background-color: orange;
}
.red{
  background-color: red;
}

.purple{
  background-color: purple;
}